<h2>Sign Up!</h2>

<% form_for(@user) do |f| %>
<%= f.error_messages %>

Name<br/>
<%= f.text_field :name%><br/>

Email<br/>
<%= f.text_field :email%><br/>
Password<br/>
<%= f.password_field :password%><br/>
Password Confirmation<br/>
<%= f.password_field :password_confirmation%><br/>

<%= f.submit "Signup"%>

<% end %>
